<!-- Section de upload -->
<section class="mt-16 mb-10 px-96 flex flex-col flex-wrap bg-white w-full">
  <h1 class="text-xl font-bold mb-1">ARRASTRA O CARGA TUS MODELOS</h1>
  <!-- File area -->
  <div class="flex border-orange-500 border-dashed border-2 w-auto h-[300px]">
    <input
      #inputFileElement
      type="file"
      [hidden]="true"
      (change)="onSelectFile($event)"
    />

    <div class="flex-1 flex items-center justify-center">
      <img
        src="../../../../../../assets/img/dragimage.png"
        alt=""
        class="max-w-[450px] h-auto"
      />
    </div>

    <div class="flex-1 flex gap-6 flex-col items-center justify-center">
      <div class="flex flex-col items-center justify-center">
        <button
          (click)="selectFile()"
          class="middle none center mr-4 rounded-lg bg-orange-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          data-ripple-light="true"
        >
          <span class="text-base">ARRASTRAR O CARGAR TUS MODELOS 3D</span>
        </button>
        <p class="text-xs">
          Formato de archivo disponible: stl.
        </p>
        <p class="text-xs">Tamaño máximo de archivo individual: 5 MB</p>
      </div>
      <div class="flex flex-col items-center justify-center">
        <button
          (click)="cargarArchivoTest()"
          class="border-2 border-black middle none center mr-4 rounded-lg bg-white py-3 px-6 font-sans text-xs font-bold uppercase text-black shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          data-ripple-light="true"
        >
          <span class="text-xs">Utilizar nuestra pieza de test</span>
        </button>

      </div>
    </div>
  </div>
</section>

@if (filesList$ | async; as resultObjets) { @if (resultObjets.length != 0) {

<app-table-upload [fileModelsTranfer]="resultObjets"></app-table-upload>

<section class="mt-4 mb-10 px-96 flex flex-col flex-wrap bg-white w-full">
  <div class="flex w-auto h-[300px]">
    <div class="flex-1 flex items-center justify-center"></div>

    <div class="flex-1 flex gap-3 flex-col items-center justify-center">
      <h1 class="text-2xl font-bold mb- self-start">Resumen</h1>
      <div
        class="flex justify-between w-full border-[1px] border-black px-2 py-2"
      >
        <div>Descuentos por numero</div>
        <button (click)="showModalPrecios()">
          <p class="font-bold underline text-orange-500">Ver descuentos</p>
        </button>
      </div>
      <div
        class="flex justify-between w-full border-[1px] border-black px-2 py-2"
      >
        <div>Estimacion de salida de planta</div>
        <div>
          <p class="font-bold">Por determinar</p>
        </div>
      </div>

      <div
        class="flex justify-between w-full border-[1px] border-black px-2 py-2"
      >
        <div>Total</div>
        <div class="flex gap-1">
          <p class="font-bold">Por determinar</p>
          <span class="font-sans">(incl. IVA)</span>
        </div>
      </div>

      <div class="flex flex-col items-center justify-center w-[400px]">
        <button
          routerLink="/cart/summary"
          class="w-full middle none center mr-4 rounded-lg bg-orange-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          data-ripple-light="true"
        >
          <span class="text-base">AGREGAR A CARRITO</span>
        </button>
      </div>
    </div>
  </div>
</section>
} }

<app-aswer-section></app-aswer-section>

