<aside
  id="default-sidebar"
  class="w-80 h-[calc(100vh-68px)] transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-[#E6E6E6]">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          routerLink="/account/profile"
          class="flex items-center p-2 text-[#4E4845] rounded-lg dark:text-[#4E4845] hover:bg-gray-100 dark:hover:bg-[#E7723F] group"
        >
          <svg
            class="w-[30px] h-[30px] text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-[#4E4845] dark:group-hover:text-[#4E4845]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
              clip-rule="evenodd"
            />
          </svg>

          <span class="ms-3">Informacion personal</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/account/shipping"
          class="flex items-center p-2 text-[#4E4845] rounded-lg dark:text-[#4E4845] hover:bg-gray-100 dark:hover:bg-[#E7723F] group"
        >
          <svg
            class="w-[30px] h-[30px] text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-[#4E4845] dark:group-hover:text-[#4E4845]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M9.166 19.986A.915.915 0 0 1 9 20H5a1 1 0 1 1 0-2h4c.057 0 .112.005.166.014a3.001 3.001 0 0 1 5.668 0A.915.915 0 0 1 15 18h4a1 1 0 1 1 0 2h-4c-.056 0-.112-.005-.166-.014a3.001 3.001 0 0 1-5.668 0ZM11 19a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"
              clip-rule="evenodd"
            />
            <path
              d="M11.5 2.131a1 1 0 0 1 1 0l4.601 2.657c-.06.018-.12.044-.179.075L12.08 7.475 6.946 4.76 11.5 2.131ZM5.967 6.505v5.21a1 1 0 0 0 .5.866l4.57 2.638V9.186l-5.07-2.681Zm7.07 8.671 4.496-2.595a1 1 0 0 0 .5-.866v-5.2a1 1 0 0 1-.161.108l-4.835 2.608v5.945Z"
            />
          </svg>

          <span class="ms-3">Pedidos</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/account/address"
          class="flex items-center p-2 text-[#4E4845] rounded-lg dark:text-[#4E4845] hover:bg-gray-100 dark:hover:bg-[#E7723F] group"
        >
          <svg
            class="w-[30px] h-[30px] text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-[#4E4845] dark:group-hover:text-[#4E4845]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M7 2a2 2 0 0 0-2 2v1a1 1 0 0 0 0 2v1a1 1 0 0 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H7Zm3 8a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm-1 7a3 3 0 0 1 3-3h2a3 3 0 0 1 3 3 1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1Z"
              clip-rule="evenodd"
            />
          </svg>

          <span class="ms-3">Direcciones</span>
        </a>
      </li>

      <li>
        <a
          routerLink="/account/quotes"
          class="flex items-center p-2 text-[#4E4845] rounded-lg dark:text-[#4E4845] hover:bg-gray-100 dark:hover:bg-[#E7723F] group"
        >
          <svg
            class="w-[30px] h-[30px] text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-[#4E4845] dark:group-hover:text-[#4E4845]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M8 7V2.221a2 2 0 0 0-.5.365L3.586 6.5a2 2 0 0 0-.365.5H8Zm2 0V2h7a2 2 0 0 1 2 2v.126a5.087 5.087 0 0 0-4.74 1.368v.001l-6.642 6.642a3 3 0 0 0-.82 1.532l-.74 3.692a3 3 0 0 0 3.53 3.53l3.694-.738a3 3 0 0 0 1.532-.82L19 15.149V20a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Z"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M17.447 8.08a1.087 1.087 0 0 1 1.187.238l.002.001a1.088 1.088 0 0 1 0 1.539l-.377.377-1.54-1.542.373-.374.002-.001c.1-.102.22-.182.353-.237Zm-2.143 2.027-4.644 4.644-.385 1.924 1.925-.385 4.644-4.642-1.54-1.54Zm2.56-4.11a3.087 3.087 0 0 0-2.187.909l-6.645 6.645a1 1 0 0 0-.274.51l-.739 3.693a1 1 0 0 0 1.177 1.176l3.693-.738a1 1 0 0 0 .51-.274l6.65-6.646a3.088 3.088 0 0 0-2.185-5.275Z"
              clip-rule="evenodd"
            />
          </svg>

          <span class="ms-3">Cotizaciones</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center p-2 text-[#4E4845] rounded-lg dark:text-[#4E4845] hover:bg-gray-100 dark:hover:bg-[#E7723F] group"
        >
          <svg
            class="w-[30px] h-[30px] text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-[#4E4845] dark:group-hover:text-[#4E4845]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2"
            />
          </svg>
          <button (click)="logout()">
            <span class="ms-3">Cerrar Sesion</span>
          </button>
        </a>
      </li>
    </ul>
  </div>
</aside>
