<app-loading-overlay [show]="loading"></app-loading-overlay>

<div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
  <!-- Shopping Cart Section -->
  <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
    <div class="flex flex-col gap-3">
      @if (filesList$ | async; as files) { @if (files.length === 0) {
      <div class="text-center">
        <p class="text-2xl text-gray-400">El carrito se encuentra vacio</p>
      </div>
      }@else { @for (item of files; track $index) {

      <app-card-cart [item]="item" [id]="$index"></app-card-cart>
      } } }
    </div>
  </div>

  <!-- Order Sumary Section -->
  <div class="mx-auto max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
    <!-- Delivery Address -->
    <form
      class="max-w-xl mx-auto p-6 bg-[#E6E6E6] rounded-lg shadow-md text-black space-y-4"
      [formGroup]="myFormData"
      (ngSubmit)="crearCotizacion()"
    >
      <h2 class="text-lg font-bold mb-4">Dirección de envío</h2>

      <!-- Tipo de cliente -->
      <div class="flex items-center gap-4 text-sm">
        <label class="flex items-center gap-2">
          <input
            type="radio"
            name="tipo"
            value="tipo"
            checked
            class="text-blue-500 bg-gray-800 border-gray-600 focus:ring-blue-500"
          />
          <span>Estandar</span>
        </label>
        <label class="flex items-center gap-2">
          <input
            type="radio"
            name="tipo"
            value="tipo"
            class="text-blue-500 bg-gray-800 border-gray-600 focus:ring-blue-500"
          />
          <span>Express</span>
        </label>
      </div>

      <!-- Dirección guardada -->
      <div class="text-sm">
        <label for="direccion-guardada" class="block font-medium mb-1">
          Dirección guardada
        </label>
        <select
          [formControl]="direccionGuardadaControl"
          (change)="onSelectSavedAddress(direccionGuardadaControl.value)"
          class="w-full px-2 py-1 bg-white border border-gray-700 rounded text-black text-sm"
        >
          <option value="-1" disabled selected>Direcciones guardadas</option>
          @for (item of savedAddresses; track $index) {
          <option [value]="$index">{{ item.name }}</option>
          }
        </select>
      </div>

      <!-- Nombre -->
      <div class="grid grid-cols-2 gap-4 text-sm">
        <div>
          <label for="nombre" class="block font-medium mb-1">Nombre *</label>
          <input
            type="text"
            id="nombre"
            placeholder="Tu nombre"
            name="name"
            formControlName="name"
            class="w-full px-2 py-1 bg-gray-800 border border-gray-700 rounded text-black text-sm"
          />
        </div>
        <div>
          <label for="apellido" class="block font-medium mb-1"
            >Apellido *</label
          >
          <input
            type="text"
            id="apellido"
            name="lastname"
            formControlName="lastname"
            placeholder="Tu apellido"
            class="w-full px-2 py-1 bg-white border border-gray-700 rounded text-black text-sm"
          />
        </div>
      </div>

      <!-- Teléfono -->
      <div class="flex">
        <select
          formControlName="phoneCode"
          class="bg-[#E7723F] border rounded-l px-2 py-1 text-white text-sm"
        >
          <option value="+52">+52</option>
          <option value="+1">+1</option>
          <option value="+54">+54</option>
        </select>
        <input
          type="tel"
          id="phone"
          name="phone"
          formControlName="phone"
          placeholder="123-456-7890"
          class="w-full px-2 py-1 bg-[#E7723F] border-t border-b border-r border-gray-700 rounded-r text-black text-sm"
        />
      </div>

      <!-- País y Ciudad -->

      <!-- Código Postal y Colonia -->
      <div class="grid grid-cols-2 gap-4 text-sm">
        <div>
          <label for="codigo-postal" class="block font-medium mb-1"
            >Código Postal *</label
          >
          <input
            type="text"
            id="codigo-postal"
            name="cp"
            formControlName="cp"
            placeholder="Ej. 03100"
            class="w-full px-2 py-1 bg-gray-800 border border-gray-700 rounded text-black text-sm"
          />
        </div>
        <div>
          <label for="colonia" class="block font-medium mb-1">Colonia *</label>
          <input
            type="text"
            id="colonia"
            name="col"
            formControlName="col"
            placeholder="Ej. Roma Sur"
            class="w-full px-2 py-1 bg-gray-800 border border-gray-700 rounded text-black text-sm"
          />
        </div>
      </div>

      <select
        id="ciudad"
        formControlName="city"
        class="w-full px-2 py-1 bg-[#E7723F] border border-gray-700 rounded text-white text-sm"
      >
        <option value="">Selecciona una ciudad</option>
        <option value="Ciudad de México">Ciudad de México</option>
        <option value="Guadalajara">Guadalajara</option>
        <option value="Monterrey">Monterrey</option>
      </select>
      <!-- Dirección -->
      <div class="text-sm">
        <label for="direccion" class="block font-medium mb-1"
          >Dirección *</label
        >
        <textarea
          id="direccion"
          formControlName="address"
          rows="2"
          placeholder="Calle, número, colonia, etc."
          class="w-full px-2 py-1 bg-white border border-gray-700 rounded text-black text-sm"
        ></textarea>
      </div>

      <!-- Guardar dirección -->
      <div class="flex items-center gap-2 text-sm mt-2">
        <input
          type="checkbox"
          id="guardar-direccion"
          class="text-blue-500 bg-gray-800 border-gray-600 focus:ring-blue-500"
        />
        <label for="guardar-direccion"
          >Guardar en mi lista de direcciones</label
        >
      </div>
    </form>

    <!-- Total Section -->
    <div
      class="space-y-4 rounded-lg border border-gray-200 bg-[#E6E6E6] p-4 shadow-sm sm:p-6"
    >
      <button
        (click)="crearCotizacion()"
        class="flex w-full bg-[#E7723F] items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
      >
        Crear cotizacion >
      </button>

      <div class="flex items-center justify-center gap-2">
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
          o
        </span>
        <a
          routerLink="/stock"
          title=""
          class="inline-flex items-center gap-2 text-sm font-medium text-primary-700 underline hover:no-underline dark:text-primary-500"
        >
          Continuar comprando
          <svg
            class="h-5 w-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 12H5m14 0-4 4m4-4-4-4"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

@switch (modalType$ | async) { @case ('color') {
<app-modal-colors />
} @case ('material') {
<app-modal-materials />
} @case ('relleno') {
<app-modal-relleno></app-modal-relleno>
} }
