
<div class="px-80 my-24">
  <h1 class="text-3xl font-bold text-center">
    Devoluciones

  </h1>
  <p class="text-2xl">
    El cliente tendrá derecho a la revocación del pedido solicitado en un plazo de siete días desde la recepción del mismo, previa comunicación a al equipo de VulcanoMakers. En caso de ejercitar el presente derecho de desistimiento, serán por cuenta del cliente los gastos de devolución y los desperfectos sufridos por el producto o mercancía.

  VulcanoMakers aceptará únicamente un mínimo desgaste del producto debido exclusivamente a su prueba para tomar una decisión sobre su adquisición definitiva sin alterar las condiciones del producto en el momento de la entrega. En casos de uso excesivo del bien no se aceptará su devolución. En caso de realizar una compra de una pieza personalizadas bajo encargo del cliente, no se aceptará una devolución, ya que este pedido no se puede reaprovechar y vender de nuevo, ha sido fabricado específicamente bajo las condiciones del cliente.

  Para realizar una devolución el cliente debe tener en cuenta lo siguiente:
  - No se abonarán los gastos de envío para la recepción original del pedido en la dirección facilitada por el cliente.
  - El producto a devolver debe estar en su estado original, sin haber sido utilizado o manipulado, y debe llegarnos en perfectas condiciones y en su embalaje original, incluyendo garantías, etiquetas e instrucciones de uso. El coste del envío hasta nuestros almacenes corre a cargo del cliente.

  </p>

</div>
