<div class="grow sm:mt-8 lg:mt-0">
  <div
    class="space-y-6 rounded-lg border border-gray-200 bg-white p-6 shadow-sm"
  >
    <h3 class="text-xl font-semibold text-gray-900">Opciones</h3>

    <div class="gap-4 sm:flex sm:items-center">
      <button
        (click)="acceptQuote()"
        type="button"
        class="w-full rounded-lg border border-blue-700 px-3 py-2 text-center text-sm font-medium text-blue-700 hover:bg-blue-700 hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-300 lg:w-auto"
      >
        Aceptar
      </button>

      <button
        (click)="rejectQuote()"
        type="button"
        class="w-full rounded-lg border border-red-700 px-3 py-2 text-center text-sm font-medium text-red-700 hover:bg-red-700 hover:text-white focus:outline-none focus:ring-4 focus:ring-red-300 lg:w-auto"
      >
        Rechazar
      </button>
    </div>
  </div>
</div>
