<section class="mt-24 px-72 flex flex-wrap bg-white w-full">
  <!-- Contenedor de texto -->
  <div class="flex-1 flex items-center justify-center">
    <div class="text-black max-w-xl w-full">
      <h1 class="text-4xl font-bold mb-6">Haz tu producto realidad</h1>
      <p class="mb-4 text-2xl">
        Desde prototipos hasta productos finales, desde 1 hasta 5.000 unidades.
        En Imprimakers fabricamos tus piezas con la mejor calidad al mínimo
        coste.
      </p>

      <div class="mt-6 space-x-4">
        <button class="bg-orange-500 text-white rounded px-4 py-2 font-bold">
          Precio al instante
        </button>
        <button class="bg-black text-white rounded px-4 py-2 font-bold">
          Stock
        </button>
      </div>
    </div>
  </div>

  <!-- Contenedor de imagen -->
  <div class="flex-1 flex justify-center items-center">
    <img
      class="w-8/12 max-h-[500px]"
      src="assets/img/ladinglogo.png"
      alt="Logo Imprimakers"
    />
  </div>
</section>

<!-- seccion tipo -->
<section class="mt-10 px-72 flex bg-[#E6E6E6] w-full h-40">
  <!-- Hijo 1 -->
  <div
    class="bg-white flex-1 flex items-center justify-center shadow-md p-4 m-2"
  >
    <img src="assets/img/index-icons/Leather.png" alt="" class="w-8 h-8 mr-2" />
    <p>Tecnologia FDM, SLA y SLS para +20 materiales</p>
  </div>

  <!-- Hijo 2 -->
  <div
    class="bg-white flex-1 flex items-center justify-center shadow-md p-4 m-2"
  >
    <img src="assets/img/index-icons/Leather.png" alt="" class="w-8 h-8 mr-2" />
    <p>Prototipos rápidos y económicos</p>
  </div>

  <!-- Hijo 3 -->
  <div
    class="bg-white flex-1 flex items-center justify-center shadow-md p-4 m-2"
  >
    <img src="assets/img/index-icons/Leather.png" alt="" class="w-8 h-8 mr-2" />
    <p>Diseño personalizado en línea</p>
  </div>

  <!-- Hijo 4 -->
  <div
    class="bg-white flex-1 flex items-center justify-center shadow-md p-4 m-2"
  >
    <img src="assets/img/index-icons/Leather.png" alt="" class="w-8 h-8 mr-2" />
    <p>Entrega a todo el país</p>
  </div>
  <
</section>

<section class="mb-10 px-8 flex flex-col bg-white w-full">
  <!-- Título -->
  <div class="text-center mt-10 p-4 m-2">
    <h1 class="text-4xl font-bold mb-4">Servicio de Impresión 3D online</h1>
    <p class="max-w-4xl mx-auto">
      Descubre cómo trabajamos ofreciéndote un servicio personalizado, online y
      con tecnología automatizada que nos permite fabricar proyectos urgentes en
      un periodo de tiempo reducido.
    </p>
  </div>

  <!-- Procesos -->
  <div class="flex flex-wrap justify-center p-4 m-2 gap-6">
    <!-- Cada paso del proceso -->
    <div
      class="flex-1 min-w-[180px] max-w-[220px] text-center flex flex-col items-center space-y-2"
    >
      <img src="assets/img/index-icons/upload.png" alt="" class="w-24 h-24" />
      <p class="font-bold">Sube tu archivo 3D</p>
      <p class="text-sm">Sube el modelo 3D a nuestra calculadora online</p>
    </div>

    <div
      class="flex-1 min-w-[180px] max-w-[220px] text-center flex flex-col items-center space-y-2"
    >
      <img src="assets/img/index-icons/cost.png" alt="" class="w-24 h-24" />
      <p class="font-bold">Calculamos costos</p>
      <p class="text-sm">
        Nuestra calculadora online te ofrece precios instante
      </p>
    </div>

    <div
      class="flex-1 min-w-[180px] max-w-[220px] text-center flex flex-col items-center space-y-2"
    >
      <img src="assets/img/index-icons/fabric.png" alt="" class="w-24 h-24" />
      <p class="font-bold">Lo fabricamos</p>
      <p class="text-sm">
        Realizamos un test de inspección visual y tolerancias
      </p>
    </div>

    <div
      class="flex-1 min-w-[180px] max-w-[220px] text-center flex flex-col items-center space-y-2"
    >
      <img src="assets/img/index-icons/upload.png" alt="" class="w-24 h-24" />
      <p class="font-bold">Inspección Visual</p>
      <p class="text-sm">Test de inspección visual y control dimensional</p>
    </div>

    <div
      class="flex-1 min-w-[180px] max-w-[220px] text-center flex flex-col items-center space-y-2"
    >
      <img src="assets/img/index-icons/upload.png" alt="" class="w-24 h-24" />
      <p class="font-bold">Recibe tu producto</p>
      <p class="text-sm">
        Enviamos tu pedido a casa o negocio con servicios 24h
      </p>
    </div>
  </div>
</section>

<section class="mb-24 px-72 flex bg-white w-full">
  <!-- Título -->
  <div class="text-center p-4 m- flex-1">
    <h1 class="text-4xl font-bold mb-4">Precio en linea, al instante</h1>
    <p class="max-w-md mx-auto text-start">
      Tras realizar el análisis de más de 100.000 piezas, hemos desarrollado un
      algoritmo especial para establecer los costes de producción exactos de
      forma autónoma en cuestión de segundos. Disponible para cualquier persona
      en cualquier lugar. Sube el modelo 3D en alguno de estos formatos: STEP,
      STP, IGES, IGS, SLDPRT, 3DM, SAT, STL o OBJ. Recomendamos STL como la
      extensión más adecuada para impresión 3D. Sin costes ocultos ni tarifas
      especiales, pagas por lo que cuesta tu pieza de producir. Posibilidad de
      cambiar entre diferentes tecnologías de impresión, materiales y acabados
      al instante dentro de un mismo pedido.
    </p>
  </div>

  <!-- Procesos -->
  <div class="flex-1 flex-wrap justify-center p-4 m-2 gap-6">
    <!-- Cada paso del proceso -->
    <video autoplay muted loop playsinline width="600">
      <source src="assets/videos/indexvideo.mp4" type="video/mp4" />
    </video>
  </div>
</section>
