<section class="mt-24 px-72 flex flex-wrap bg-white w-full">
  <!-- Contenedor de texto -->
  <div class="flex-1 flex items-center justify-center">
    <div class="text-black max-w-xl w-full">
      <h1 class="text-4xl font-bold mb-6">Haz tu producto realidad</h1>
      <p class="mb-4 text-2xl">
        Desde prototipos hasta productos finales, desde 1 hasta 5.000 unidades.
        En Imprimakers fabricamos tus piezas con la mejor calidad al mínimo
        coste.
      </p>

      <div class="mt-6 space-x-4">
        <button class="bg-orange-500 text-white rounded px-4 py-2 font-bold">
          Precio al instante
        </button>
        <button class="bg-black text-white rounded px-4 py-2 font-bold">
          Stock
        </button>
      </div>
    </div>
  </div>

  <!-- Contenedor de imagen -->
  <div class="flex-1 flex justify-center items-center">
    <img
      class="w-8/12 max-h-[500px]"
      src="assets/img/ladinglogo.png"
      alt="Logo Imprimakers"
    />
  </div>
</section>

<!-- seccion tipo -->
<section class="mt-10 px-72 flex bg-[#E6E6E6] w-full h-40">
  <!-- Hijo 1 -->
  <div
    class="bg-white flex-1 flex items-center justify-center shadow-md p-4 m-2"
  >
    <img src="assets/img/index-icons/Leather.png" alt="" class="w-8 h-8 mr-2" />
    <p>Tecnologia FDM, SLA y SLS para +20 materiales</p>
  </div>

  <!-- Hijo 2 -->
  <div
    class="bg-white flex-1 flex items-center justify-center shadow-md p-4 m-2"
  >
    <img src="assets/img/index-icons/Leather.png" alt="" class="w-8 h-8 mr-2" />
    <p>Prototipos rápidos y económicos</p>
  </div>

  <!-- Hijo 3 -->
  <div
    class="bg-white flex-1 flex items-center justify-center shadow-md p-4 m-2"
  >
    <img src="assets/img/index-icons/Leather.png" alt="" class="w-8 h-8 mr-2" />
    <p>Diseño personalizado en línea</p>
  </div>

  <!-- Hijo 4 -->
  <div
    class="bg-white flex-1 flex items-center justify-center shadow-md p-4 m-2"
  >
    <img src="assets/img/index-icons/Leather.png" alt="" class="w-8 h-8 mr-2" />
    <p>Entrega a todo el país</p>
  </div>
<
