<section
  class="bg-[#E6E6E6] rounded-md py-3 antialiased md:py-16 w-[1050px] border-4 ml-5 mt-5 px-3"
>
  <div class="gap-4 sm:flex sm:items-center sm:justify-between">
    <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl">
      Mis cotizaciones
    </h2>

    <div
      class="mt-6 gap-4 space-y-4 sm:mt-0 sm:flex sm:items-center sm:justify-end sm:space-y-0"
    >
      <!-- <div>
        <label
          for="order-type"
          class="sr-only mb-2 block text-sm font-medium text-gray-900"
          >Select order type</label
        >
        <select
          id="order-type"
          class="block w-full min-w-[8rem] rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500"
        >
          <option selected>Todas</option>
          <option value="pre-order">Fabricando</option>
          <option value="transit">Enviado</option>
          <option value="confirmed">Entregado</option>
          <option value="cancelled">Cancelado</option>
        </select>
      </div> -->
<!--
      <span class="inline-block text-gray-500"> de </span> -->

      <!-- <div>
        <label
          for="duration"
          class="sr-only mb-2 block text-sm font-medium text-gray-900"
          >Select duration</label
        >
        <select
          id="duration"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500"
        >
          <option selected>this week</option>
          <option value="Este mes">this month</option>
          <option value="Ultimos 3 meses">the last 3 months</option>
          <option value="Ultimos 6 meses">the last 6 months</option>
          <option value="Este año">this year</option>
        </select>
      </div> -->
      <button
        (click)="openModalCode()"
        class="focus:outline-none text-white font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
        style="background-color: #e7723f"
      >
        Agregar cotizacion
      </button>
    </div>
  </div>
</section>
<section
  class="bg-[#E6E6E6] rounded-md antialiased w-[1050px] border-4 ml-5 mt-5 pr"
>
  <div class="w-full px-4 2xl:px-0">
    <div class="mx-auto">
      <div class="mt-1 flow-root sm:mt-8">
        <div class="divide-y divide-gray-200">
          <!-- Pedidos carts -->

          @if (quotesList$ | async; as quotes) {

            @for (q of quotes; track $index) {

              

              <app-card-quote [quote]="q" ></app-card-quote>
            }
          }



        </div>
      </div>

      <!-- <nav
        class="mt-6 flex items-center justify-center sm:mt-8"
        aria-label="Page navigation example"
      >
        <ul class="flex h-8 items-center -space-x-px text-sm">
          <li>
            <a
              href="#"
              class="ms-0 flex h-8 items-center justify-center rounded-s-lg border border-e-0 border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700"
            >
              <span class="sr-only">Previous</span>
              <svg
                class="h-4 w-4 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m15 19-7-7 7-7"
                />
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700"
              >1</a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700"
              >2</a
            >
          </li>
          <li>
            <a
              href="#"
              aria-current="page"
              class="z-10 flex h-8 items-center justify-center border border-primary-300 bg-primary-50 px-3 leading-tight text-primary-600 hover:bg-primary-100 hover:text-primary-700"
              >3</a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700"
              >...</a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700"
              >100</a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex h-8 items-center justify-center rounded-e-lg border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700"
            >
              <span class="sr-only">Next</span>
              <svg
                class="h-4 w-4 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m9 5 7 7-7 7"
                />
              </svg>
            </a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
</section>

@if (modalState$ | async) {

<app-modal-code-quote></app-modal-code-quote>
}
