<div class="w-full flex flex-col items-start justify-start h-full pt-10 pl-5">
  <div class="flex flex-col items-start">
    <h1 class="text-xl font-semibold">Direcciones</h1>
    <button
      class="mt-2 text-blue-600 underline font-bold"
      routerLink="/account/address/form"
    >
      Agregar dirección
    </button>
  </div>

  <div class="flex gap-5 flex-wrap">

    @if (addresses$ | async; as addresses) { @for (item of addresses; track
    $index) {

    <app-address-card [address]="item" ></app-address-card>

    }@empty {
    <p>No cuentas con direcciones en este momento</p>
    } }
  </div>

</div>
