@if (quote$ | async ; as quote) {

<section class="bg-white py-8 antialiased md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl">
      Numero de cotizacion: {{ quote.id }}
    </h2>

    <div class="mt-6 sm:mt-8 lg:flex lg:gap-8">
      <!-- Parte izquierda -->
      <div
        class="w-full divide-y min-w-[622.16px] divide-gray-200 overflow-hidden rounded-lg border border-gray-200 lg:max-w-xl xl:max-w-2xl"
      >
        @for (item of quote.products; track $index) {

        <app-card-details [item]="item"></app-card-details>
        }

        <div class="space-y-4 bg-gray-50 p-6">
          <div class="space-y-2">
            <dl class="flex items-center justify-between gap-4">
              <dt class="font-normal text-gray-500">Precio original</dt>
              <dd class="font-medium text-gray-900">${{quote.price}}</dd>
            </dl>


            <dl class="flex items-center justify-between gap-4">
              <dt class="font-normal text-gray-500">Precio envio ({{quote.shippingType}}) </dt>
              <dd class="font-medium text-gray-900">${{quote.shippingPrice | number:'1.2-2'}}</dd>
            </dl>

            <dl class="flex items-center justify-between gap-4">
              <dt class="font-normal text-gray-500">Descuento</dt>
              <dd class="text-base font-medium text-green-500">-${{ ((quote.price + quote.shippingPrice)  * quote.discount) | number:'1.2-2'}}</dd>
            </dl>
          </div>

          <dl
            class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2"
          >
            <dt class="text-lg font-bold text-gray-900">Total</dt>
            <dd class="text-lg font-bold text-gray-900">${{((quote.price + quote.shippingPrice) - ((quote.price + quote.shippingPrice)  * quote.discount)) | number:'1.2-2'  }}</dd>
          </dl>
        </div>
      </div>
      @if (quote.statusQuote === 'Pendiente') {

      <app-options-quote [quote]="quote" (show)="recibirShow($event)"></app-options-quote>
      }@else {

      <app-tracking-quote [quote]="quote"></app-tracking-quote>
      }
    </div>
  </div>
</section>
}

<app-loading-overlay [show]="show"></app-loading-overlay>
