<footer
  style="background-color: #2c2424"
  class="relative bg-blueGray-200 pt-8 pb-6"
>
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-center lg:text-left">
      <!-- hijo1 -->
      <div class="w-full lg:w-4/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-8/12 px-4 mr-auto">
            <span class="block uppercase text-white text-sm font-semibold mb-2">
              Contactanos
            </span>
            <ul class="list-unstyled">
              <li class="flex">
                <i class="fas fa-envelope mr-2" style="color: #ffffff"></i>
                <a
                  class="text-white hover:text-white font-semibold block pb-2 text-sm"
                  href="mailto:info@vulcano.com"
                >
                  {{ email }}
                </a>
              </li>
              <li class="flex">
                <i
                  class="fas fa-phone-alt fa-sm mr-2"
                  style="color: #ffffff"
                ></i>
                <a
                  class="text-white hover:text-white font-semibold block pb-2 text-sm"
                  href="https://blog.creative-tim.com?ref=na-footer"
                >
                  (+34) 615 631 673
                </a>
              </li>
              <li class="flex">
                <i
                  class="fas fa-map-marker-alt mr-2"
                  style="color: #ffffff"
                ></i>
                <a
                  class="text-white hover:text-white font-semibold block pb-2 text-sm"
                  href="https://www.github.com/creativetimofficial?ref=na-footer"
                >
                  Avenida Colon, 32 46185 La Pobla de Vallbona (Valencia)
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- hijo2 -->
      <div class="w-full lg:w-4/12 px-4">
        <h4 class="text-3xl text-white text-center font-semibold">
          Vulcano Makers
        </h4>
        <h5 class="text-lg text-white text-center mt-0 mb-2">
          Vulcano Makers nace de la idea de un grupo de jovenes ingenieros que
          empezaron a explorar esta nueva tecnologia , y de un hobbie paso a ser
          un trabajo sonado. Hoy en dia ofrecemos este servicio de impresion 3D
          en todo Mexico.
        </h5>
        <div class="mt-6 lg:mb-0 mb-6 flex items-center justify-center">
          <!-- <button
            class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button"
          >
            <i class="fab fa-twitter"></i>
          </button>
          <button
            class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button"
          >
            <i class="fab fa-facebook-square"></i>
          </button> -->
          <button
            class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button"
            (click)="openInstagram()"
          >
            <i class="fab fa-instagram"></i>
          </button>
        </div>
      </div>
      <!-- 3 -->
      <div class="w-full lg:w-4/12 px-4">
        <div class="flex justify-end mb-6">
          <div class="w-full max-w-xs px-4">
            <span
              class="block uppercase text-white text-sm font-semibold mb-2 text-right"
            >
              Políticas
            </span>
            <ul class="list-unstyled text-right">
              <li>
                <a
                  class="text-white hover:text-white font-semibold block pb-2 text-sm"
                  href="https://www.creative-tim.com/presentation?ref=na-footer"
                >
                  Aviso de privacidad
                </a>
              </li>
              <li>
                <a
                  class="text-white hover:text-white font-semibold block pb-2 text-sm"
                  href="https://stripe.com/en-mx"
                >
                  Formas de pago
                </a>
              </li>
              <li>
                <a
                  class="text-white hover:text-white font-semibold block pb-2 text-sm"
                  href="https://www.github.com/creativetimofficial?ref=na-footer"
                  target="_blank"
                >
                  Políticas de privacidad
                </a>
              </li>

              <li>
                <a
                  class="text-white hover:text-white font-semibold block pb-2 text-sm"
                  routerLink="/devoluciones"
                >
                  Devoluciones
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
