<!-- Modal Container -->
<div
    class="fixed left-0 top-0 flex h-full w-full items-center justify-center bg-black bg-opacity-50 py-10"

>
  <div
    class="max-h-full w-full max-w-5xl overflow-y-auto sm:rounded-2xl bg-white"
  >
    <div class="w-full px-24">
      <div class="m-8 my-20 mx-auto">
        <!-- Eliminamos max-w-[600px] -->
        <!-- Header Modal -->
        <div>
          <div class="mb-1 flex justify-between items-center">
            <h1 class="text-xl font-extrabold">Materiales</h1>
            <button (click)="closeModal()">
              <i
                class="fas fa-times text-4xl cursor-pointer"
                style="color: #d11515"
              ></i>
            </button>
          </div>
          <p>Selecciona una de estas opciones para tu pieza</p>
        </div>
        <hr class="my-4" />
        <!-- Item Colors -->
        <div class="flex flex-wrap gap-4 justify-center">
          @if (materials | async; as materials) {
              @for (item of materials; track $index) {
                <app-buttons-material [material]="item"/>
              }
          }
        </div>
      </div>
    </div>
  </div>
</div>
