  <app-index-navbar></app-index-navbar>
  <section class="mt-24 mb-24 flex ">
    <!-- contenedor de botones -->
    <div class="flex-1 flex items-center justify-center w-full">
      <!-- contendor botones -->
      <div class="text-white w-[100%]">
        <h1 class="text-4xl font-bold mb-4 text-black">Haz tu producto realidad</h1>
        <p class="mb-2 text-2xl text-black">Desde prototipos hasta productos</p>
        <p class="mb-2 text-2xl text-black">finales, desde 1 hasta 5.000 unidades.</p>
        <p class="mb-4 text-2xl text-black">En Imprimakers fabricamos tus piezas con</p>
        <p class="mb-4 text-2xl text-black">la mejor calidad al mínimo coste.</p>

        <button class="bg-orange-500 rounded px-4 py-2 mr-2 font-bold">Precio al instante</button>
        <button class="bg-black text-white rounded px-4 py-2 font-bold">Stock</button>
      </div>

    </div>
    <!-- contenedor de imagen -->
    <div class="flex-1 px-4 flex justify-center items-center">
      <img
        class="w-8/12 max-h-[500px]"
        src="assets/img/ladinglogo.png"
        alt="Logo Imprimakers"
      />
    </div>
  </section>


<app-footer></app-footer>
