<nav class="w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-[#2C2424] shadow">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">

    <!-- Logo -->
    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
      <a
        [routerLink]="['/']"
        class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
      >
        Vulkano Makers
      </a>
    </div>

    <!-- Enlaces -->
    <div
      class="lg:flex flex-grow items-center"
      [ngClass]="{ hidden: !navbarOpen, block: navbarOpen }"
      id="example-navbar-warning"
    >
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">

        <!-- Enlace 1 -->
        <li class="flex justify-center items-center">
          <a
            [routerLink]="['/stock']"
            class="bg-[#2C2424] text-white text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg"
          >
            MODELOS EN STOCK
          </a>
        </li>

        @if (isAutheticate()) {

          <!-- Enlace 2 -->
          <li class="flex justify-center items-center mr-4">
            <a
              [routerLink]="['/auth']"
              class="bg-[#2C2424] text-white text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg"
              style="border: white solid 1px;"
            >
              Cuenta
            </a>
          </li>
        }@else{
          <!-- Enlace 2 -->
          <li class="flex justify-center items-center mr-4">
            <a
              [routerLink]="['/auth']"
              class="bg-[#2C2424] text-white text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg"
              style="border: white solid 1px;"
            >
              Acceder
            </a>
          </li>
        }

        <!-- Enlace 3 -->
        <li class="flex justify-center items-center">
          <a
            [routerLink]="['/upload']"
            class="bg-[#E7723F] text-white text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg "
          >
            Cotización Online
          </a>
        </li>

        <!-- Dropdown -->
        <app-index-dropdown class="block"></app-index-dropdown>
      </ul>
    </div>
  </div>
</nav>
