<div class="grow sm:mt-8 lg:mt-0">
  <div
    class="space-y-6 rounded-lg border border-gray-200 bg-white p-6 shadow-sm"
  >
    @if (quote.status == "Cancelado") {

    <h3 class="text-xl font-semibold text-gray-900">Envio cancelado</h3>
    }@else if(quote.status == "Enviado"){
    <h3 class="text-xl font-semibold text-gray-900">Seguimiento de envio</h3>

    <ol class="relative ms-3 border-s border-gray-200">


      <li class="mb-10 ms-6 text-primary-700">
        <span
          class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-primary-100 ring-8 ring-white"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 11.917 9.724 16.5 19 7.5"
            />
          </svg>
        </span>
        <h4 class="mb-0.5 font-semibold">6 Feb 2025, 15:15</h4>
        <p class="text-sm">Productos en el almacén del mensajero</p>
      </li>

      <li class="mb-10 ms-6 text-primary-700">
        <span
          class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-primary-100 ring-8 ring-white"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 11.917 9.724 16.5 19 7.5"
            />
          </svg>
        </span>
        <h4 class="mb-0.5 text-base font-semibold">5 Feb 2025, 12:27</h4>
        <p class="text-sm">Productos entregados al mensajero - DHL Express</p>
      </li>

            <li class="mb-10 ms-6 text-primary-700">
        <span
          class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-primary-100 ring-8 ring-white"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 11.917 9.724 16.5 19 7.5"
            />
          </svg>
        </span>
        <h4 class="mb-0.5 font-semibold">3 Feb 2025, 13:47</h4>
        <p class="text-sm">Fabricando - Trabajando en sus modelos</p>
      </li>

      <li class="mb-10 ms-6 text-primary-700">
        <span
          class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-primary-100 ring-8 ring-white"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 11.917 9.724 16.5 19 7.5"
            />
          </svg>
        </span>
        <h4 class="mb-0.5 font-semibold">2 Feb 2025, 10:47</h4>
        <p class="text-sm">Pago aceptado - Tarjeta de crédito VISA</p>
      </li>

      <li class="ms-6 text-primary-700">
        <span
          class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-primary-100 ring-8 ring-white"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 11.917 9.724 16.5 19 7.5"
            />
          </svg>
        </span>
        <div>
          <h4 class="mb-0.5 font-semibold">2 Feb 2025, 10:45</h4>
          <a href="#" class="text-sm font-medium hover:underline"
            >Cotizacion aceptada - #FWB125467980</a
          >
        </div>
      </li>
    </ol>
    }@else if(quote.status == "Entregado") {
       <h3 class="text-xl font-semibold text-gray-900">Seguimiento de envio</h3>

    <ol class="relative ms-3 border-s border-gray-200">
      <li class="mb-10 ms-6">
        <span
          class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-gray-100 ring-8 ring-white"
        >
          <svg
            class="h-4 w-4 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"
            />
          </svg>
        </span>
        <h4 class="mb-0.5 text-base font-semibold text-emerald-700">
          Entrega estimada el 16 Sep 2024
        </h4>
        <p class="text-sm font-normal text-gray-500">Productos entregados</p>
      </li>

      <li class="mb-10 ms-6">
        <span
          class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-gray-100 ring-8 ring-white"
        >
          <svg
            class="h-4 w-4 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 7h6l2 4m-8-4v8m0-8V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v9h2m8 0H9m4 0h2m4 0h2v-4m0 0h-5m3.5 5.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm-10 0a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"
            />
          </svg>
        </span>
        <h4 class="mb-0.5 text-base font-semibold text-gray-900">Llega hoy</h4>
        <p class="text-sm font-normal text-gray-500">
          Productos en entrega
        </p>
      </li>

      <li class="mb-10 ms-6 text-primary-700">
        <span
          class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-primary-100 ring-8 ring-white"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 11.917 9.724 16.5 19 7.5"
            />
          </svg>
        </span>
        <h4 class="mb-0.5 font-semibold">18 Sep 2024, 15:15</h4>
        <p class="text-sm">Productos en el almacén del mensajero</p>
      </li>

      <li class="mb-10 ms-6 text-primary-700">
        <span
          class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-primary-100 ring-8 ring-white"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 11.917 9.724 16.5 19 7.5"
            />
          </svg>
        </span>
        <h4 class="mb-0.5 text-base font-semibold">18 Sep 2024, 12:27</h4>
        <p class="text-sm">Productos entregados al mensajero - DHL Express</p>
      </li>

            <li class="mb-10 ms-6 text-primary-700">
        <span
          class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-primary-100 ring-8 ring-white"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 11.917 9.724 16.5 19 7.5"
            />
          </svg>
        </span>
        <h4 class="mb-0.5 text-base font-semibold">16 Sep 2024, 12:27</h4>
        <p class="text-sm">Fabricando - Trabajando en sus modelos</p>
      </li>

      <li class="mb-10 ms-6 text-primary-700">
        <span
          class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-primary-100 ring-8 ring-white"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 11.917 9.724 16.5 19 7.5"
            />
          </svg>
        </span>
        <h4 class="mb-0.5 font-semibold">15 Sep 2024, 10:47</h4>
        <p class="text-sm">Pago aceptado - Tarjeta de crédito VISA</p>
      </li>

      <li class="ms-6 text-primary-700">
        <span
          class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-primary-100 ring-8 ring-white"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 11.917 9.724 16.5 19 7.5"
            />
          </svg>
        </span>
        <div>
          <h4 class="mb-0.5 font-semibold">15 Sep 2024, 10:45</h4>
          <a href="#" class="text-sm font-medium hover:underline"
            >Cotizacion aceptada - #FWB125467980</a
          >
        </div>
      </li>
    </ol>
    }@else if(quote.status == "Fabricando") {
    <h3 class="text-xl font-semibold text-gray-900">Seguimiento de envio</h3>

    <ol class="relative ms-3 border-s border-gray-200">


      <li class="mb-10 ms-6 text-primary-700">
        <span
          class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-primary-100 ring-8 ring-white"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 11.917 9.724 16.5 19 7.5"
            />
          </svg>
        </span>
        <h4 class="mb-0.5 font-semibold">27 Jun 2025, 9:20</h4>
        <p class="text-sm">Fabricando - Trabajando en sus modelos</p>
      </li>



      <li class="mb-10 ms-6 text-primary-700">
        <span
          class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-primary-100 ring-8 ring-white"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 11.917 9.724 16.5 19 7.5"
            />
          </svg>
        </span>
        <h4 class="mb-0.5 font-semibold">26 Jun 2025, 10:47</h4>
        <p class="text-sm">Pago aceptado - Tarjeta de crédito VISA</p>
      </li>

      <li class="ms-6 text-primary-700">
        <span
          class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-primary-100 ring-8 ring-white"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 11.917 9.724 16.5 19 7.5"
            />
          </svg>
        </span>
        <div>
          <h4 class="mb-0.5 font-semibold">26 Jun 2025, 10:45</h4>
          <a href="#" class="text-sm font-medium hover:underline"
            >Cotizacion aceptada - #FWB139485633</a
          >
        </div>
      </li>
    </ol>
    }

    <div class="gap-4 sm:flex sm:items-center">
      <p class="font-semibold">
        Si tiene alguna duda sobre tu pedido no dudes en enviarnos correo
        <span class="text-orange-400">vulcano&#64;ayuda.com</span>
      </p>
    </div>
  </div>
</div>
