<div class="px-80 flex flex-col gap-4 my-">
  <div>
    <h1 class="text-2xl font-bold">IDENTIFICACIÓN</h1>
    <p class="text-lg">
      El acceso, navegación y utilización del sitio web www.vulcanomakers.com (en
      adelante, el “Sitio Web”) implica la aceptación expresa y sin reservas de
      todos los términos de las presentes Condiciones de Uso, teniendo la misma
      validez y eficacia que cualquier contrato celebrado por escrito y firmado.
      Su observancia y cumplimiento será exigible respecto de cualquier persona
      que acceda, navegue o utilice el Sitio Web. Si Ud. no está de acuerdo con
      los términos expuestos, no acceda, navegue o utilice el Sitio Web.
    </p>
  </div>

  <div>
    <h1 class="text-2xl font-bold">OBJETO</h1>
    <p class="text-lg">
      Las presentes Condiciones de Uso regulan el acceso, navegación y
      utilización del presente Sitio Web, sin perjuicio de que el prestador se
      reserva el derecho a modificar la presentación, configuración y contenido
      del mismo, así como las condiciones requeridas para su acceso y/o
      utilización. El acceso y utilización de los contenidos del Sitio Web tras
      la entrada en vigor de sus modificaciones o cambios suponen la aceptación
      de los mismos. No obstante, el acceso a determinados contenidos y la
      utilización de determinados servicios puede encontrarse sometido a
      determinadas condiciones particulares, que serán en todo caso claramente
      mostradas y deberán ser aceptadas expresamente por parte de los usuarios.
      Estas condiciones particulares podrán sustituir, completar o, en su caso,
      modificar las presentes Condiciones de Uso. El prestador se reserva el
      derecho a modificar los términos y condiciones aquí estipulados, total o
      parcialmente, publicando cualquier cambio en la misma forma en que
      aparecen estas Condiciones de Uso o a través de cualquier tipo de
      comunicación dirigida a los usuarios. Del mismo modo, informamos a los
      usuarios acerca de cuáles son sus derechos y sus obligaciones en relación
      con los contenidos expuestos a través del Sitio Web, logotipos y marcas
      utilizadas, así como las responsabilidades que pueden derivarse del uso
      del servicio. A los efectos de la interpretación de las presentes
      Condiciones de Uso, entendemos que una persona pasa a ser usuaria en el
      momento en que ésta acepta las Condiciones de Uso y la Política de
      Privacidad expuestas en el Sitio Web, bastando para ello que lo visite.
    </p>
  </div>

  <div>
    <h1 class="text-2xl font-bold">ACCESO Y REGISTRO</h1>
    <p class="text-lg">
      El acceso a los contenidos del Sitio Web es completamente gratuito, sin
      perjuicio de que pueden existir apartados o servicios particulares que
      requieran para su uso y disfrute el abono de alguna cantidad económica, de
      lo cual en todo caso se informará debidamente al usuario, y que éste
      deberá aceptar expresamente para poder disfrutarlos. En el caso de no
      contar con nombre de usuario y contraseña de acceso al Sitio Web, el
      usuario deberá registrarse desde el siguiente link:
      https://vulcanomakers.com/mi-cuenta/, donde deberá introducir todos sus
      datos reales y veraces, ya que será la única forma que tendremos de poder
      procesar los posibles pedidos que sean realizados en el futuro, así como
      gestionar correctamente la relación comercial con el usuario. Queda
      prohibido el acceso al Sitio Web por parte de menores de edad. No
      obstante, en caso de acceso al Sitio Web y registro por parte de un menor,
      se presumirá que el acceso se ha realizado con autorización previa y
      expresa de sus padres, tutores o representantes legales, sin perjuicio de
      que el prestador se reserva el derecho de realizar cuantas verificaciones
      considere oportunas. El acceso y navegación en el Sitio Web no requieren
      registro, aunque para realizar cualquier compra o para recibir publicidad,
      información y ofertas periódicas de nuestras campañas promocionales y de
      nuestros productos, será necesario cumplimentar los formularios web
      habilitados al efecto. El registro en el Sitio Web es, salvo que se
      indique lo contrario, gratuito. Bajo ningún concepto el prestador se
      responsabilizará de la veracidad de los datos de registro facilitados por
      los usuarios, por lo que cada uno de éstos será único responsable de las
      posibles consecuencias, errores y fallos que pudieran derivarse de la
      falta de calidad de los datos.
    </p>
  </div>

  <div>
    <h1 class="text-2xl font-bold">REQUISITOS PARA REGISTRARSE COMO USUARIO</h1>
    <p class="text-lg">
      Es requisito imprescindible para poder registrarse como usuario ser mayor
      de dieciocho (18) años y proporcionar todos los datos requeridos y
      catalogados como obligatorios. Del mismo modo, el usuario registrado asume
      que la cuenta de usuario es personal e intransferible, pudiendo
      registrarse en el Sitio Web tanto personas físicas como personas
      jurídicas, ya sean sociedades mercantiles u otro tipo de entidades. La
      contraseña, personal e intransferible, deberá ser generada por el usuario
      de acuerdo a las reglas de robustez y complejidad que se establezcan en
      cada momento por el prestador. La contraseña creada por el usuario tendrá
      una validez temporal ilimitada. Si el usuario selecciona una contraseña
      que no cumpla con los requisitos mínimos conforme a la política de
      contraseñas aprobada y vigente en el prestador, el Usuario será avisado de
      este incumplimiento y de los condicionamientos que deben reunir dicha
      contraseña para una efectiva validez al alta del interesado en el registro
      de usuarios del prestador. No obstante, el prestador dispone de
      funcionalidades necesarias para que el usuario, noticiándoselo previamente
      al prestador, pueda cambiar su contraseña cuando lo considere oportuno,
      por ejemplo, porque sospeche o constante que se haya producido la quiebra
      de la confidencialidad de la contraseña. La contraseña tendrá carácter
      personal e intransferible. El usuario se compromete a hacer un uso
      diligente de su contraseña y mantenerla en secreto, no transmitiéndola a
      ningún tercero y tampoco al prestador. En consecuencia, los usuarios son
      responsables de la adecuada custodia y confidencialidad de cualesquiera
      identificadores y/o contraseñas que hayan seleccionado como usuarios
      registrados del prestador, y se comprometen a no ceder su uso a terceros,
      ya sea temporal o permanente, ni permitir su acceso a personas ajenas.
      Será responsabilidad del usuario la utilización ilícita del Sitio Web por
      cualquier tercero ilegítimo, que emplee a tal efecto una contraseña a
      causa de una utilización no diligente o de la pérdida de la misma por el
      Usuario. En virtud de lo anterior, es obligación del usuario notificar de
      forma inmediata al prestador acerca de cualquier hecho que permita el uso
      indebido de los identificadores y/o contraseñas, tales como el robo,
      extravío, o el acceso no autorizado a los mismos, con el fin de proceder a
      su inmediata cancelación. Mientras no se comuniquen tales hechos, el
      prestador quedará eximido de cualquier responsabilidad que pudiera
      derivarse del uso indebido de los identificadores o contraseñas por
      terceros no autorizados. Por último, el prestador le comunica que para la
      correcta realización de una compra se requerirán determinados datos
      orientados a la tramitación de la misma, tales como el domicilio del
      comprador, los datos reales, número de teléfono de contacto, y medios de
      pago.
    </p>
  </div>

  <div>
    <h1 class="text-2xl font-bold">BAJA COMO USUARIO REGISTRADO</h1>
    <p class="text-lg">
      El usuario puede, en cualquier momento, solicitar su baja del Sitio Web,
      bastando para ello solicitarlo mediante comunicación a:
      info_vulcanomakers.com, indicando su nombre de usuario y el servicio
      concreto del que desee darse de baja. En cualquier caso, una vez efectuada
      la baja, el usuario podrá solicitar un nuevo registro, quedando a salvo la
      facultad del prestador de no admitir dicho registro en los casos concretos
      especificados en la cláusula denominada “Reglas de Uso del Sitio Web” o en
      caso de conflicto o controversia suscitado entre las partes, que se
      encuentre por resolver o que haya finalizado con reconocimiento de culpa o
      negligencia del usuario y/o perjuicio al prestador, a sus colaboradores y
      asociados o a sus usuarios, clientes o potenciales clientes.
    </p>
  </div>
</div>
