<div class="flex bg-[#E6E6E6] p-5 rounded mt-4 items-start w-[400px]">
  <div class="px-3 pt-1">
    <i class="fa-solid fa-house"></i>
  </div>
  <div class="flex-1">
    <p>{{ address.address }}</p>
    <p>Código postal: {{ address.cp }} - Morelos - Cuautla</p>
    <p>
      {{ address.name }} {{ address.lastname }} - {{ address.codePhone }}
      {{ address.phone }}
    </p>
  </div>
  <div class="px-3 ml-10 flex gap-3">
    <button
      class="text-blue-600 underline font-bold"
      (click)="update(address.id)"
    >
      Editar
    </button>
    <p class="mx-1">|</p>
    <button
      class="text-red-600 underline font-bold"
      (click)="delete(address.id)"
    >
      Eliminar
    </button>
  </div>
</div>
